<ion-searchbar #search class="search" autocomplete="true" placeholder="Room / Course"
               animated="true" color="light" (input)="searchFor($event)"></ion-searchbar>
<div class="tongue-container">
    <ion-row #tongue class="tongue" justify-content-start align-items-start cdkDragLockAxis="y"
             cdkDragBoundary=".tongue-container" cdkDrag
             [ngStyle]="{'border-radius': tongueStyle.borderRadius,
             'box-shadow': tongueStyle.boxShadow}"
             (cdkDragReleased)="dragRelease($event)" (cdkDragStarted)="dragStart()">
        <ion-row class="handle-container" justify-content-center cdkDragHandle>
            <div class="handle"></div>
        </ion-row>

        <ion-row class="card-container" *ngFor="let course of courses">
            <app-course-card [course]="course" class="card-container"></app-course-card>
        </ion-row>

    </ion-row>
</div>
