<ion-card class="card">

    <ion-progress-bar type="indeterminate"></ion-progress-bar>

    <ion-row padding align-items-center class="full-height">

        <ion-row class="full-width">
            <ion-col no-padding size="8" class="login-heading">Login</ion-col>
        </ion-row>

        <ion-row class="full-width">Scan your student identity card to login</ion-row>

        <ion-row class="full-width">
          <ion-button (click)="loginClicked()">Login</ion-button>
        </ion-row>

    </ion-row>

</ion-card>
