.ng-progress-bar {
  margin-top: 88px;
}

ion-content {
  --overflow: hidden;
  //display: flex!important;
}

.debug {
  height: 0;
  width: 0;
}

.qr-icon {
  position: absolute;
  font-size: 300px;
  top: 20vh;
  color: white;
  left: 10vw;
}

.presenter {
  width: 100%;
  height: 100%;
}