.ng-progress-bar {
  margin-top: 88px;
}

ion-content {
  --overflow: hidden;
  //display: flex!important;
}

.debug {
  height: 0;
  width: 0;
}

.qr-icon {
  position: absolute;
  font-size: 300px;
  top: 20vh;
  color: white;
  left: 10vw;
}

/*
.content {
  width: 80%!important;
  background: lightblue;
  display: inline-block!important;
}

.tongue {
  width: 20%!important;
  background: coral;
  display: inline-block!important;
}*/